.tituloPrincipal{
    margin-top: 10px;
    justify-content: center;
}

.tituloPrincipal > h1 {
    font-family: cursive;
    font-size: 80px;
}

.contenedor_maquinaAbstracta{
    justify-content: center;
}