.tituloPrincipal{
    margin-top: 10px;
    justify-content: center;
}

.tituloPrincipal > h1 {
    font-family: cursive;
    font-size: 80px;
}

.contenedor_maquinaAbstracta{
    justify-content: center;
}

.div-DiaDeLaSemana{
    text-align: center;
    justify-content: center;
    height: 500px;
    margin: 10px;
}

.tituloDiaDeLaSemana{
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.tituloDiaDeLaSemana > h3{
    font: 30px Arial, sans-serif;
    
}


.tareasDelDia{
    border: 1px solid #ccc;
    height: 500px;
    background-color: white;
}

.div-ComponenteSemana{
    margin: 20px;
}

.cont-tareavigente{
    background-color: lightblue ;
    justify-content: center;
    border: 1px solid lightblue ;
    border-radius: 10%;
    margin: 10px;
}

.cont-tareavencida{
    background-color: red ;
    justify-content: center;
    border: 1px solid red ;
    border-radius: 10%;
    margin: 10px;
}
